@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

/* reset default link styling */

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.18s ease-out;
}
